/*COLORS*/
/*dark purple: 77129b*/
/*bright purple: 9c1fde*/

/*light tan: caa575*/
/*dark tan: c88d45*/

/*facebook blue: #3b5998*/
/*twitter blue: #4099FF*/

/*--------------------
  --- GLOBAL STUFF ---
  --------------------*/
html,
body {
  width: 100%;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 16px;
  background-color: white;
}

html, body, div, a, img, p, nav, ul, li, select, form, input, video, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

div {
  display: block;
  height: auto;
}

a {
  color: #9c1fde;
}

a:hover {
  color: #caa575;
}

a, p {
  font-size: 12px;
}

h1 {
  font-size: 34px;
}
@media (max-width: 480px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-size: 24px;
  text-shadow: -1px -1px #fff;
}

#main {
  width: 100%;
  text-align: center;
}

/*----------------------
  --- SHARED CLASSES ---
  ----------------------*/
.strong {
  font-weight: bold;
}
.btn{
  text-decoration:none;
  color:white;
  font-size:11px;
  font-weight:bold;
  padding:0 15px;
  line-height:32px;
  height: auto;
  display:inline-block;
  text-align:center;
  background:linear-gradient(#77129b, #9c1fde);
}
.btn:hover {
  background:linear-gradient(#9c1fde, #77129b);
  color: white;
}

.btn.pill {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

/*CONTAINERS*/
.module { }
.row {
  display: inline-block;
  *display: inline;
  padding: 1%;
}
.full-width {
  width: 98%;
}
.max-width {
  width: 98%;
  max-width: 1080px;
}
.title {
  background:linear-gradient(#c88d45, #caa575);
}

/*--- GRID ---*/
.grid {
  display: inline-block;
  *display: inline;
  margin-bottom: 30px;
}
.col {
  float: left;
  padding: 1%;
}
.col img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

/*12 Column Grid*/
.c12-1,
.c12-2 {}
.c12-3 {
  width: 23%;
}
.c12-4 {
  width: 31.33%;
}
.c12-5 {}
.c12-6 {
  width: 48%;
}
.c12-7 {}
.c12-8 {
  width: 64.66%;
}
.c12-9,
.c12-10,
.c12-11 {}
.c12-12 {
  width: 98%;
}


/*--------------------
  --- HEADER / NAV ---
  --------------------*/
#header {
  background-image: url(../images/bg.jpg);
  background-repeat: repeat;
  background-position: top center;
}
#header a[class*="icon-"] {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

nav {
  float: left;
}

nav img {
  vertical-align: middle;
}

nav a {
  font-size: 14px;
  font-weight: thin;
  margin-right: 16px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:last-child {
  margin-right: 0;
}

nav a.icon-menu {
  position: relative;
  top: 7px;
}
@media (min-width: 600px) {
  nav a.icon-menu {
    display: none;
  }
}
nav a.lnk {
  display: none;
}
@media (min-width: 600px) {
  nav a.lnk {
    display: inline-block;
  }
}

#social {
  float: right;
  margin-top: 24px;
}
#social a {
  margin-left: 16px;
  text-shadow: -1px -1px #fff;
  outline: 1px #fff;
}
#social a:first-child {
  margin-left: 0;
}
#social a.icon-twitter {
  color: #4099FF;
}
#social a.icon-facebook {
  color: #3b5998;
}


/*--------------
  --- BANNER ---
  --------------*/
#banner {
  color: black;
  background-image: url("../images/courtroom_small.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  padding: 60px;
}
@media (min-width: 480px) {
   #banner {
     background-image: url("../images/courtroom_med.jpg");
   }
}
@media (min-width: 945px) {
   #banner {
     background-image: url("../images/courtroom.jpg");
   }
}

#banner p {
  font-size: 16px;
  padding: 6px 0 24px;
}

/*----------------
  --- SERVICES ---
  ----------------*/
#services ul, 
#services p {
  font-size: 14px;
  text-align: left;
}
#services ul {
  margin-left: 12px;
}

#services .grid .col.c12-8 {
  width: 98%;
}
#services .grid .col.c12-4 {
  width: 98%;
}
@media (min-width: 600px) {
  #services .grid .col.c12-8 {
    width: 64.66%;
  }
}
@media (min-width: 600px) {
  #services .grid .col.c12-4 {
    width: 31.33%;
  }
}


/*-----------------------
  --- SUCCESS STORIES ---
  -----------------------*/
#success-stories img {
  -webkit-transition: all 0.12s ease-out;
  -moz-transition:    all 0.12s ease-out;
  -ms-transition:     all 0.12s ease-out;
  -o-transition:      all 0.12s ease-out;
}

#success-stories img:hover {
  color: black;
  -webkit-transform: scale(1.1);
  -moz-transform:    scale(1.1);
  -ms-transform:     scale(1.1);
  -o-transform:      scale(1.1);
}

#success-stories .grid .col.c12-4 {
  width: 98%;
}

@media (min-width: 480px) {
  #success-stories .grid .col.c12-4 {
    width: 48%;
  }
}
@media (min-width: 800px) {
  #success-stories .grid .col.c12-4 {
    width: 31.33%;
  }
}

/*--------------------
  --- CONTACT FORM ---
  --------------------*/
#contact p {
  font-size: 16px;
}

#contact .pill {
  margin: 20px 0;
}

.contact-form {
  height: 60px;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/*.contact-form:hover {
  height: 295px;
}*/


form {
  background: #caa575;
  -webkit-box-shadow: inset 0px 0px 56px 0px rgba(0,0,0,0.30);
  -moz-box-shadow: inset 0px 0px 56px 0px rgba(0,0,0,0.30);
  box-shadow: inset 0px 0px 56px 0px rgba(0,0,0,0.30);
}
select, input[type="text"], input[type="submit"] {
  height: 34px;
  font-size: 16px;
  border: 1px solid #666;
}
select, input[type="text"], input[type="radio"] {
  margin-bottom: 10px;
}


select {
  width: 160px;
  margin-top: 20px;
  cursor: pointer;
}

input[type="text"] {
  width: 265px;
  padding: 0 10px;
}

input[type="radio"] {
  cursor: pointer;
  margin: 0 10px;
}

input[type="submit"] {
  color: white;
  cursor: pointer;
  /*margin: 20px 0 20px 20px !important;*/
  width: 100px;
  background:linear-gradient(#9c1fde, #77129b);
}

/*--------------
  --- FOOTER ---
  --------------*/
footer {
  font-size: 12px;
  color: white;
  background-image: url(../images/bg.jpg);
  background-repeat: repeat;
  background-position: top center;
  padding: 8px 0;
}


/*----------------------
  --- ANIMATION TEST ---
  ----------------------*/
#animation {
  /*visibility: hidden;*/
}
.square {
  width: 100px;
  height: 100px;
  background: red;
  margin: 0 auto;
  cursor: pointer;
  
}

.square:hover {
  -webkit-animation: animateShape 2s; /* Chrome, Safari, Opera */
  animation: myfirst 2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animateShape {
    from {
      background: red;
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
      transform: rotate(0deg);
    }
    to {
      background: yellow;
      -ms-transform: rotate(270deg); /* IE 9 */
      -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
      transform: rotate(270deg);
    }
}

/* Standard syntax */
@keyframes animateCircle {
    from {
      background: red;
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
      transform: rotate(0deg);
    }
    to {
      background: yellow;
      -ms-transform: rotate(270deg); /* IE 9 */
      -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
      transform: rotate(270deg);
    }
}